@import url(./vendor/normalize.css);
@import url(./vendor/fonts/stylesheet.css);

.page{
    position: relative;
    font-family: Arial, sans-serif;
    color: rgb(118, 118, 118);
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1440px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header{
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 250px 67px 210px
} 

.logo{
    margin-top: 33px;
}

.header__phone{
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Open Sans Condensed';
    color: rgb(118, 118, 118);
    line-height: 1.15;
    text-align: right;
}

.header__text{
    margin: 4px 0 0 auto;
    font-size: 24px;
    font-family: "PT Sans";
    color: rgb(118, 118, 118);
    font-weight: bold;
    line-height: 26px;
    text-align: right;
    border-bottom: 2px dashed rgb(118, 118, 118);
    width: fit-content;

}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(119, 119, 119);
    height: 80px;
}

.menu__list {
    font-size: 30px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.menu__line{
    width: 3px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    margin: 0px 21px;
}

.menu__list:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    line-height: 28px;
}


.Главная_____Каталог_____Доставка_и_оплата____Пр {
    font-size: 30px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 209.558px;
    top: 251.5px;
    width: 902px;
    height: 27px;
    z-index: 66;
  }

  .Слой_3 {
    background-image: url("Слой 3.png");
    position: absolute;
    left: 0px;
    top: 230px;
    width: 1400px;
    height: 80px;
    z-index: 65;
  }
  
  
  